*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background:#0a0101;
	color:white;
	padding:20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav ul{
	display: flex;
}

ul li{
	list-style-type: none;
}

ul li a{
	text-decoration: none;
	font-weight: bold;
	color:white;
}

.first{
	background: #4f0803;
	color:white;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content:center;

}

.title{
	margin-left:30px;
	margin-top:5px;
	text-align: center;
	font-size: 40px;
}
#header-img{
	border: 2px solid black;
	border-radius: 50%;	
}


#nav-bar{
	
}

.nav-link{
	flex:1;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	display: block;

}

.nav-link:hover{
	font-size:30px;
	background:#4f0803;
	border-radius: 15px;

}

#about{
	display: flex;
	padding: 40px;
	justify-content: center;
}

.about-img{
	flex:1;


}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#about img{
	display: block;
	margin:auto;
	border: 2px solid black;
	border-radius: 50%;
}

.about-description{
	flex:2;
	text-align: center;
	margin-top: 90px;
	font-size: 25px;
}


#product-info{
	display: flex;
	flex-direction: column;
}

.product1{
	display: flex;
	justify-content: space-around;
}

.product1 div{
	flex:1;
}

#video{
	display: block;
	margin:auto;
}


#form{
	width:80%;
	padding: 20px;
	display: block;
	margin:auto;
}

#submit{
	padding: 10px;
}